form {
    border: 2px solid #009dff;
    border-radius: 10px;
    box-shadow: inset rgb(255 255 255) 0px 0px 9px 0px;
}

.login {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;

}


.bg {
    height: 100vh;
    background-image: url(../img/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





h1 {
    color: rgb(17, 127, 152);
    text-shadow: #ffffff -1px -1px 2px;
    font-size: 60px;

}


svg {
    font-size: 30px;
    color: rgb(17, 127, 152);
    }

    .myUsername,
    .myPassword {
        font-size: 20px;
    }